@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Glass TTY VT220";
  src: url("./assets/fonts/Glass_TTY_VT220.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Glass TTY VT220 Password Hack";
  src: url("./assets/fonts/Glass_TTY_VT220_password_hack.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Orden Web Regular";
  src: url("./assets/fonts/Orden_Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@layer base {
  :root {
    --color-black: theme(colors.black);
    --color-white: theme(colors.slate.50);
    --color-lime: theme(colors.lime.400);
    --color-red: theme(colors.red.600);
    --color-green: theme(colors.green.400);
    --color-amber: theme(colors.amber.400);
    --color-cyan: theme(colors.cyan.400);
    --color-blue: theme(colors.blue.600);
    font-family: theme(fontFamily.VT220);
    font-size: 20px;
    line-height: 30px;
    background-color: var(--color-black);
    @apply crt-white;
  }

  /* CRT emulated colors for text styles */
  .crt-lime {
    color: var(--color-lime);
    text-shadow:
      0 0 1px var(--color-lime),
      0 0 2px var(--color-lime),
      0 0 4px var(--color-lime);
  }
  .crt-red {
    color: var(--color-red);
    text-shadow:
      0 0 1px var(--color-red),
      0 0 2px var(--color-red),
      0 0 4px var(--color-red);
  }
  .crt-green {
    color: var(--color-green);
    text-shadow:
      0 0 1px var(--color-green),
      0 0 2px var(--color-green),
      0 0 4px var(--color-green);
  }
  .crt-amber {
    color: var(--color-amber);
    text-shadow:
      0 0 1px var(--color-amber),
      0 0 2px var(--color-amber),
      0 0 4px var(--color-amber);
  }
  .crt-cyan {
    color: var(--color-cyan);
    text-shadow:
      0 0 1px var(--color-cyan),
      0 0 2px var(--color-cyan),
      0 0 4px var(--color-cyan);
  }
  .crt-white {
    color: var(--color-white);
    text-shadow:
      0 0 1px var(--color-white),
      0 0 2px var(--color-white),
      0 0 4px var(--color-white);
  }
}

.title {
  font-family: theme(fontFamily.orden);
  margin: calc(4rem + 5vh) auto;
  font-size: 3em;
  text-align: center;
  text-shadow: none;
  &.small {
    transform: scale(50%);
    margin: calc(2rem + 2vh) auto;
  }
}

@media (min-width: 360px) {
  .title {
    font-size: calc(3em + 0.5vw);
  }
}
@media (min-width: 480px) {
  .title {
    font-size: calc(4em + 0.5vw);
  }
}
@media (min-width: 720px) {
  .title {
    font-size: calc(5em + 5vw);
  }
}
@media (min-width: 1200px) {
  .title {
    margin-bottom: 1.2em;
  }
}
