@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Glass TTY VT220";
  src: url("./fonts/Glass_TTY_VT220.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Orden Web Regular";
  src: url("./fonts/Orden_Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@layer base {
  :root {
    --color-black: theme(colors.black);
    --color-white: theme(colors.slate.50);
    --color-lime: theme(colors.lime.400);
    --color-red: theme(colors.red.600);
    --color-green: theme(colors.green.400);
    --color-amber: theme(colors.amber.400);
    --color-cyan: theme(colors.cyan.400);
  }
}

body {
  background-color: var(--color-black); 
  color: var(--color-white);
}

h1.title {
  font-family: theme(fontFamily.orden);
  font-size: 128px;
  text-align: center;
}
