.auth {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 16em;

  /* Initial mode (when no login/signup choosen) */
  .initial {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  /* Panel/window title */
  .title {
    display: flex;
    align-items: center;
    background-color: var(--color-blue);
  }
  .title > :first-child {
    margin-left: 20px;
  }
  .title > :last-child {
    margin-left: auto;
  }

  /* Panel/window footer */
  .footer {
    text-align: center;
    padding-bottom: 20px;
  }

  /* Custom auth controls */
  button {
    @apply crtWhite;
    width: 100%;
    padding: 0.5em;
    background-color: theme(colors.red.500);
  }
  button:hover {
    background-color: theme(colors.green.500);
  }
  button:active {
    background-color: theme(colors.yellow.400);
  }
  a {
    @apply crtCyan;
  }
  a:hover {
    @apply crtLime;
  }

  /* External styling of reusable Form component */
  form {
    width: 280px;
    @media (min-width: 360px) {
      width: 320px;
    }
    @media (min-width: 480px) {
      width: 440px;
    }
    @media (min-width: 720px) {
      width: 640px;
    }
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding: 40px 20px;

    /* Form Fields */
    :global(.form-field) {
      position: relative;

      input {
        @apply crtWhite;
        width: 100%;
        background-color: var(--color-black);
        border-width: 2px;
        padding: 0.5em;
        letter-spacing: 1px;
        &:focus {
          @apply crtCyan;
          outline: none;
          border-color: var(--color-cyan);
        }
        &::placeholder {
          @apply crtWhite;
          opacity: 60%;
        }
        &[type="password"] {
          font-family: theme(fontFamily.VT220Pass);
        }
      }

      label {
        position: absolute;
        left: 0;
        top: -30px;
        text-transform: uppercase;
        visibility: hidden;
      }
      input:not(:placeholder-shown) + label {
        opacity: 60%;
        visibility: visible;
      }

      :global(.hint) {
        @apply crtWhite;
        padding: 0 10px;
        min-height: 30px;
        /* background-color: var(--color-red); */
        visibility: hidden;
      }

      :global(.capslock-indicator) {
        @apply crtAmber;
        position: absolute;
        top: 12px;
        right: 10px;
      }
    }

    /* Invalid FormFields */
    :global(.form-field.invalid) {
      input:not(:focus) {
        @apply crtRed;
        border-color: var(--color-red);

        &::placeholder {
          @apply crtRed;
        }
      }

      input:not(:focus) + label {
        @apply crtRed;
      }

      :global(.hint) {
        /* @apply crtRed; */
        visibility: visible;
      }
    }

    /* Form Submit */
    :global(.form-submit) {
      button {
        background-color: var(--color-blue);
      }
      button:disabled {
        opacity: 30%;
        cursor: not-allowed;
      }
    }
  }
}
